:root {
    --dominant: #f5efef;
    --secondary: #57d885;
    --accent: #3c674a;
  }  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    background-color: var(--accent) !important;
    color: var(--dominant) !important;
}

* .contentImage{
    height: 100px;
    width: 100px;
}

* ul {
    list-style: none;
}

body{
    background-color: var(--dominant);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header img {
    width: 50px;
    height: 50px;
}

.navbar {
    border: none;
    box-shadow: none;
}

.navbar .menu {
    padding: 20px;
    display: flex;
    justify-content: left;
    gap: 20px;
    list-style: none;
}

.navbar .menu a {
    text-decoration: none;
    color: inherit;
}

section {
    display: flex;
}

section .aside {
    min-width: 20vw;
}

section .content {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dominant)
}

section .content .productContent {
    width: 100%;
}

section .content .productContent .productList .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    padding: 0px 50px;
    gap: 100px;
}

section .content .productContent .productList .products .productDetail {
    background-color: var(--secondary);
    border-radius: 10px;
}

section .content .addToCart{
    bottom: 10px;
    position: relative;
}

section .aside #closeIcon {
    display: none;
}

section .aside table {
    width: 100%;
}

section .aside table button {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-modal {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.6); 
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dominant);
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

#floatingSvg {
    display: none;
}

/* Product Page */

.productContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productContent .productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.productContent .productList .products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 150px;
    gap: 250px;
}

.productContent .productList .products .productDetail {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 16px;
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 30px;
}

.productContent .productList .products .productDetail img {
    width: 100px;
}

/* Service section */

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentSection{
    display: flex;
    height: 100vh;
    width: 95vw;
    gap: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;    
}

.serviceImage {
    width: 400px;
}

/* AboutUs */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.careers{
    display: flex;
    flex-direction: row;
    width: auto;
}

.career{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
}

.centering{
    text-align: center;
}

.centering p{
    margin-bottom: 100px;
}


/* Responsive */


@media screen and (max-width: 768px) {
    .productContent .productList .products{
        gap: 10px;
        width: 99vw;
    }
    .productContent .productList .products .productDetail{
        font-size: 12px;
    }
}

@media screen and (max-width: 475px) {
    * .contentImage {
        height: 70px;
        width: 70px;
    }

    section .aside {
        display: none;
    }

    section .content {
        width: 100vw;
    }

    section .content .productContent .productList .products {
        gap: 10px;
        padding: 0;
    }

    .productContent .productList .products .productDetail {
        gap: 10px;
        height: 250px;
        width: 138px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 0 10px;
    }

    #floatingSvg {
        position: fixed;
        display: block;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
    }

    #floatingSvg > svg {
        width: 100%;
        height: 100%;
    }

    .item-count-badge {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
        line-height: 1;
        pointer-events: none;
        transform: translate(50%, -50%);
    }

    section .aside {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: white;
        z-index: 1;
        display: none;
        overflow-y: auto;
    }

    section .aside #closeIcon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1000;
    }

    section .aside.show {
        display: block;
        width: 100vw;
    }

    .service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contentSection{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        gap: 100px;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;    
    }

    .contentContentSection{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 60px;
    }
    
    .serviceImage {
        width: 300px;
    }

    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    
    /* AboutUs */
    
    .gone{
        display: none;
    }

    .centering{
        padding: 0;
    }

    .career p{
    font-size: 10px;
    }

    .career button{
        font-size: 10px;
    }
    
    .centering{
        text-align: center;
    }
    
    .centering p{
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 376px) {

    section .aside {
        display: none;
    }

    section .productContent .productList .products {
        flex-direction: column;
    }

    section .content .productList .products .productDetail {
        width: auto;
    }
}