*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* .contentImage{
    height: 100px;
    width: 100px;
}

* ul {
    list-style: none;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header img {
    width: 50px;
    height: 50px;
}

.navbar {
    border: none;
    box-shadow: none;
}

.navbar .menu {
    padding: 20px;
    display: flex;
    justify-content: left;
    gap: 20px;
    list-style: none;
}

.navbar .menu a {
    text-decoration: none;
    color: inherit;
}

section {
    display: flex;
}

section .aside {
    min-width: 20vw;
}

section .content {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content .productContent {
    width: 100%;
}

section .content .productContent .productList .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0px 50px 0 50px;
    gap: 100px;
}

section .content .productContent .productList .products .productDetail {
    background-color: lightgray;
    border-radius: 10px;
}

section .aside #closeIcon {
    display: none;
}

section .aside table {
    width: 100%;
}

section .aside table button {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-modal {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.6); 
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

#floatingSvg {
    display: none;
}

/* Product Page */

.productContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productContent .productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.productContent .productList .products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.productContent .productList .products .productDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    font-size: 16px;
}

.productContent .productList .products .productDetail img {
    width: 100px;
}

/* Responsive */


@media screen and (max-width: 768px) {
    .productContent .productList .products .productDetail{
        font-size: 12px;
    }
}

@media screen and (max-width: 475px) {
    * .contentImage {
        height: 70px;
        width: 70px;
    }

    section .aside {
        display: none;
    }

    section .content {
        width: 100vw;
    }

    section .content .productContent .productList .products {
        gap: 10px;
        padding: 0;
    }

    .productContent .productList .products .productDetail {
        gap: 10px;
        padding: 10px 0 10px 0;
    }

    #floatingSvg {
        position: fixed;
        display: block;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
    }

    #floatingSvg > svg {
        width: 100%;
        height: 100%;
    }

    .item-count-badge {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
        line-height: 1;
        pointer-events: none;
        transform: translate(50%, -50%);
    }

    section .aside {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: white;
        z-index: 1;
        display: none;
        overflow-y: auto;
    }

    section .aside #closeIcon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1000;
    }

    section .aside.show {
        display: block;
    }
}

@media screen and (max-width: 320px) {

    section .aside {
        display: none;
    }

    .productContent .productList .products {
        flex-direction: column;
    }
}